aiohttp
anytree
aria2p
async-timeout
attrdict
attrs
certifi
cffi
chardet
cryptg
gunicorn
hachoir
Pillow
psutil
psycopg2-binary
pyaes
pyasn1
pycparser
qbittorrent-api
requests
rsa
six
Telethon
TgCrypto
torrentool
urllib3
yarl
youtube-dl
instaloader
natsort
Pyrogram
lxml
beautifulsoup4
speedtest-cli
megasdkrestclient
